// src/pages/aboutUsPage.js

@import 'global.scss'; // Import global styles

.about-us-page {
  font-family: 'Poppins', sans-serif;
  padding: 50px 20px;
  text-align: center;
  min-height: 65vh;
  background-image: linear-gradient(160deg, #d900ff 0%, #6231b7 100%);

  h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 40px;
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
    a, a:visited, a:hover, a:focus, a:active {
      color: black;
      text-decoration: none;
    }
    .team-member {
      width: 300px;
      background-color: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: 0.3s ease;
      text-decoration: none;
      position: relative;

      &:hover{
        transform: scale(1.05);
        cursor: pointer;
        filter: drop-shadow(0 0 0.75rem rgb(49, 0, 71));
        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: '↗';
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5px;
        margin-top: 5px;
        font-size: 25px;
        font-weight: 1000;
        opacity: 0;
        transition: 0.3s;
      }
      img {
        width: 175px;
        height: 175px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 15px;
        border: 2px solid rgb(144, 144, 144);
        background-color: rgb(56, 0, 108);
      }

      h2 {
        font-size: 1.5rem;
        color: $cta-bg-color;
      }

      .flag {
        font-size: 30px;
        margin: 0;
      }
    }
  }
}

// Mobile styles
@media (max-width: 768px) {
  .about-us-page {
    padding: 20px;

    h1 {
      font-size: 2rem;
    }
    
    .team-grid {
      grid-template-columns: 1fr;
    }

    .team-member {
      img {
        width: 120px;
        height: 120px;
      }

      h2 {
        font-size: 1.3rem;
      }
    }
  }
}